pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.mw-highlight > pre .hll { background-color: #ffffcc }
.mw-highlight > pre .c { color: #6272a4 } /* Comment */
.mw-highlight > pre .err { color: #f8f8f2 } /* Error */
.mw-highlight > pre .g { color: #f8f8f2 } /* Generic */
.mw-highlight > pre .k { color: #ff79c6 } /* Keyword */
.mw-highlight > pre .l { color: #f8f8f2 } /* Literal */
.mw-highlight > pre .n { color: #f8f8f2 } /* Name */
.mw-highlight > pre .o { color: #ff79c6 } /* Operator */
.mw-highlight > pre .x { color: #f8f8f2 } /* Other */
.mw-highlight > pre .p { color: #f8f8f2 } /* Punctuation */
.mw-highlight > pre .ch { color: #6272a4 } /* Comment.Hashbang */
.mw-highlight > pre .cm { color: #6272a4 } /* Comment.Multiline */
.mw-highlight > pre .cp { color: #ff79c6 } /* Comment.Preproc */
.mw-highlight > pre .cpf { color: #6272a4 } /* Comment.PreprocFile */
.mw-highlight > pre .c1 { color: #6272a4 } /* Comment.Single */
.mw-highlight > pre .cs { color: #6272a4 } /* Comment.Special */
.mw-highlight > pre .gd { color: #8b080b } /* Generic.Deleted */
.mw-highlight > pre .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.mw-highlight > pre .gr { color: #f8f8f2 } /* Generic.Error */
.mw-highlight > pre .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.mw-highlight > pre .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.mw-highlight > pre .go { color: #44475a } /* Generic.Output */
.mw-highlight > pre .gp { color: #f8f8f2 } /* Generic.Prompt */
.mw-highlight > pre .gs { color: #f8f8f2 } /* Generic.Strong */
.mw-highlight > pre .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.mw-highlight > pre .gt { color: #f8f8f2 } /* Generic.Traceback */
.mw-highlight > pre .kc { color: #ff79c6 } /* Keyword.Constant */
.mw-highlight > pre .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.mw-highlight > pre .kn { color: #ff79c6 } /* Keyword.Namespace */
.mw-highlight > pre .kp { color: #ff79c6 } /* Keyword.Pseudo */
.mw-highlight > pre .kr { color: #ff79c6 } /* Keyword.Reserved */
.mw-highlight > pre .kt { color: #8be9fd } /* Keyword.Type */
.mw-highlight > pre .ld { color: #f8f8f2 } /* Literal.Date */
.mw-highlight > pre .m { color: #bd93f9 } /* Literal.Number */
.mw-highlight > pre .s { color: #f1fa8c } /* Literal.String */
.mw-highlight > pre .na { color: #50fa7b } /* Name.Attribute */
.mw-highlight > pre .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.mw-highlight > pre .nc { color: #50fa7b } /* Name.Class */
.mw-highlight > pre .no { color: #f8f8f2 } /* Name.Constant */
.mw-highlight > pre .nd { color: #f8f8f2 } /* Name.Decorator */
.mw-highlight > pre .ni { color: #f8f8f2 } /* Name.Entity */
.mw-highlight > pre .ne { color: #f8f8f2 } /* Name.Exception */
.mw-highlight > pre .nf { color: #50fa7b } /* Name.Function */
.mw-highlight > pre .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.mw-highlight > pre .nn { color: #f8f8f2 } /* Name.Namespace */
.mw-highlight > pre .nx { color: #f8f8f2 } /* Name.Other */
.mw-highlight > pre .py { color: #f8f8f2 } /* Name.Property */
.mw-highlight > pre .nt { color: #ff79c6 } /* Name.Tag */
.mw-highlight > pre .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.mw-highlight > pre .ow { color: #ff79c6 } /* Operator.Word */
.mw-highlight > pre .w { color: #f8f8f2 } /* Text.Whitespace */
.mw-highlight > pre .mb { color: #bd93f9 } /* Literal.Number.Bin */
.mw-highlight > pre .mf { color: #bd93f9 } /* Literal.Number.Float */
.mw-highlight > pre .mh { color: #bd93f9 } /* Literal.Number.Hex */
.mw-highlight > pre .mi { color: #bd93f9 } /* Literal.Number.Integer */
.mw-highlight > pre .mo { color: #bd93f9 } /* Literal.Number.Oct */
.mw-highlight > pre .sa { color: #f1fa8c } /* Literal.String.Affix */
.mw-highlight > pre .sb { color: #f1fa8c } /* Literal.String.Backtick */
.mw-highlight > pre .sc { color: #f1fa8c } /* Literal.String.Char */
.mw-highlight > pre .dl { color: #f1fa8c } /* Literal.String.Delimiter */
.mw-highlight > pre .sd { color: #f1fa8c } /* Literal.String.Doc */
.mw-highlight > pre .s2 { color: #f1fa8c } /* Literal.String.Double */
.mw-highlight > pre .se { color: #f1fa8c } /* Literal.String.Escape */
.mw-highlight > pre .sh { color: #f1fa8c } /* Literal.String.Heredoc */
.mw-highlight > pre .si { color: #f1fa8c } /* Literal.String.Interpol */
.mw-highlight > pre .sx { color: #f1fa8c } /* Literal.String.Other */
.mw-highlight > pre .sr { color: #f1fa8c } /* Literal.String.Regex */
.mw-highlight > pre .s1 { color: #f1fa8c } /* Literal.String.Single */
.mw-highlight > pre .ss { color: #f1fa8c } /* Literal.String.Symbol */
.mw-highlight > pre .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.mw-highlight > pre .fm { color: #50fa7b } /* Name.Function.Magic */
.mw-highlight > pre .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.mw-highlight > pre .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.mw-highlight > pre .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.mw-highlight > pre .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.mw-highlight > pre .il { color: #bd93f9 } /* Literal.Number.Integer.Long */
